<section class="inputComment"></section>
    <form action="/" method="POST">
        <h3>Comentário: </h3>
        <textarea name="comment" class="button"></textarea>
        <button id="formButton" type="submit" class="button">Cadastrar</button>
    </form>
</section>